.container {
    width: 400px;
    font-size: 18px;
    border: 1px solid;
    border-radius: 4px;
    overflow: hidden;
    border-spacing: 0;
}

.row {
    border: 1px solid;
    height: 39px;
}

.row:nth-of-type(2n + 1) {
    background-color: #d5f1f6;
}
.row:nth-of-type(2n) {
    background-color: #ebfcff;
}

.cell {
    border: 1px solid;
    text-align: center;
}

.header {
    border: 1px solid;
    height: 39px;
    background-color: #26c9dd;
}

.body {
    position: relative;
}

.tableLoader {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
}
